* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    background-image: url("../img/background/hero-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    position: absolute;
    align-items: center;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}

.topNav {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    height: 63px;
    max-height: 63px;
    width: 100%;
    opacity: 1;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0);
}

.backFilter {
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.04);
    background-color: rgba(255, 255, 255, 0.85);
}

.sBox {
    float: left;
    display: inline-block;
    width: 375px;
    margin: 0 10px;
}

.navigation {
    display: inline-block;
    top: 0;
    overflow: hidden;
    height: 63px;
    line-height: 60px;
    margin-left: 10px;
}

.navigation img {
    float: left;
    width: 125px;
    padding: 1% 0;
    margin-right: 10px;
}

.navigation ul {
    margin: 1px -5px 1px 0;
    float: right;
    list-style-type: none;
}

.navigation ul li {
    transition: 0.3s;
    display: inline-block;
    margin: 0 26px;
}

.navigation ul li a {
    transition: 0.3s;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}

.navigation ul li:hover a {
    color: rgb(248, 82, 80);
}

.navigation ul li:hover {
    border-bottom: 2px solid rgb(248, 82, 80);
}

.section-one {
    padding-top: 75px;
    display: inline-block;
    margin-bottom: -30px;
}

.beforeDownload {
    display: inline-block;
    min-width: 70%;
    padding: 0 15px;
}


.beforeDownload h1 {
    font-size: 68px;
    padding: 43px 0 11px 0;
    margin-top: 0;
    margin-bottom: 12px;
}

.beforeDownload p {
    font-size: 30px;
    font-weight: 400;
    padding-top: 6px;
    margin-bottom: 15px;
    margin-top: 0;
    line-height: 42px;
}

.beforeDownload p:nth-of-type(2) {
    font-size: 14px;
    color: rgba(24, 24, 25, 0.7);
    margin-bottom: 24px;
    line-height: 20px;
}

.download {
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
}

.download div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-right: 25px;
    border-radius: 5px;
    padding: 12px 34px;
    line-height: 25px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}

.download img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0 5px;
}

.download div:nth-child(1) {
    border: none;
    padding: 12px 11px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-image: linear-gradient(45deg, #ff387e 6.54%, #ff386d 21.35%, #f44a53 64.03%, #f35e3a 92.78%);
}

.download div a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.download div:nth-child(2) {
    border: 1px solid rgb(244, 74, 83);
    padding: 12px 34px;
    margin: 0;
}

.download div:nth-child(2) a {
    color: rgb(244, 74, 83);
}

div.tri-angle {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    transform: translateY(-91px) translateX(141px);
    border: 16px solid;
    border-top-right-radius: 5px;
    border-color: #f44a53 #f44a53 transparent transparent;
}

span.tri-angle {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-88px) translateX(151px) rotate(45deg) scale(0.75);
    position: absolute;
    color: #fff;
}

.linkOl {
    display: flex;
    opacity: 0;
}

.linkOl ol {
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08);
    flex-direction: column;
    text-align: left;
    transform: translate(125px, -40px);
    position: absolute;
    align-items: center;
    list-style-type: none;
}

.linkOl ol li {
    padding: 5px 12px;
}

.linkOl ol li a {
    padding: 5px 12px;
    margin: -5px -12px;
    line-height: 22px;
}

.galleryBox {
    margin: 0 auto 40px;
    background: url("../img/background/hero-bottom-bg.png") no-repeat 50% 100%;
    background-size: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 950px;
}

.gallery {
    max-width: 1224px;
    margin-top: -80px;
}

.g-top button {
    z-index: 5;
    color: rgba(24, 24, 25, 0.32);
    font-size: 24px;
    background-color: rgb(230, 231, 233);
    display: flex;
    cursor: pointer;
    position: relative;
    justify-content: center;
    width: 38px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 1000px;
    padding: 5px 0;
}

.gBtn1 {
    top: 480px;
    left: -56px;
    transition: 0.2s;
}

.gBtn2 {
    top: 440px;
    right: -1236px;
    transition: 0.2s;
}

.gBtn1:hover, .gBtn2:hover {
    color: rgba(24, 24, 25, 0.8);
}

.full {
    max-width: 0;
    max-height: 0;
    transform: translate(1150px, -80px);
}

.full img {
    width: 38px;
    cursor: pointer;
}

.full img:hover {
    width: 40px;
}

.each-image {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.each-image div {
    transition: all 0.5s ease-out;
}

.each-image img {
    width: 1224px;
    height: 765px;
}

:fullscreen img {
    width: 100%;
    height: 100%;
}

:-webkit-full-screen img {
    width: 100%;
    height: 100%;
}

:-moz-full-screen img {
    width: 100%;
    height: 100%;
}

:-ms-fullscreen img {
    width: 100%;
    height: 100%;
}

.gallery-thumbnail button {
    height: 72px;
}

.gallery-thumbnail img {
    width: 102px;
    border-radius: 4px;
}

.thumbnails {
    margin: 0;
    padding: 5px 0;
    display: inline-block;
    max-width: 1210px;
}

.gallery-thumbnail {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.gallery-thumbnail button {
    transition: 0.5s;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border: 4px solid rgba(0, 0, 0, 0);
}

.gallery-thumbnail button:nth-child(1) {
    border: 4px solid rgba(181, 154, 109, 0.6);
}

.gallery-thumbnail button:hover {
    border: 4px solid rgba(181, 154, 109, 0.6);
}

.section-two {
    margin: 0 auto;
    padding: 80px 24px 120px 24px;
    box-sizing: border-box; /**/
    max-width: 1200px;
}

div.section-two > div.icon {
    margin-bottom: 64px;
}

.section-two > div > h2 {
    margin: 120px 0 0;
    font-size: 36px;
    font-weight: 600;
}

.icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.iconCard {
    height: 64px;
    min-width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.iconCard:hover .cover {
    display: flex;
}

.iconCard:hover .cover > div:hover {
    color: rgb(244, 74, 83);
}

span.icon-text {
    margin-left: 16px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 500;
}

span.icon-img img {
    width: 48px;
    border-radius: 8px;
}

.cover {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0.95;
    background-color: rgba(255, 255, 255, 0.99);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}

.cover span:nth-child(1) {
    margin-right: 6px;
}

.cover img {
    padding-top: 2px;
    width: 18px;
    height: 18px;
}

.cover div {
    display: flex;
    margin: 0 5px;
}

.cover > div > span {
    display: flex;
    font-size: 14px;
    line-height: 22px;
    padding: 20px 0;
}

.blocks {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    /* 灵活拆分 */
    flex-wrap: wrap;
    margin: -12px;
}

/* .blocks::after,.blocks::before {
    display: flex;
} */

.blockCard {
    padding: 12px;
    position: relative;
    opacity: 1;
    /* min-height: 250px; */
    min-width: 47.9%;
    /* box-shadow: 0 8px 32px rgba(0, 0, 0, .04); */
}

.inner {
    text-align: left;
    margin: auto;
    padding: 40px 32px 32px;
    position: relative;
    max-width: 490px;
    min-height: 189px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .04);
    border-radius: 8px;
}

.inner > .h-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

.h-text h3 {
    margin: 0 10px;
}

.inner > div:nth-child(1) {
    align-items: center;
}

.h-text > span > img {
    width: 42px;
}

.inner h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

.inner ol {
    padding-left: 18px;
}

.inner li {
    color: rgba(18, 20, 28, 0.5);
}

div.more {
    justify-content: center;
    margin-top: 80px;
    display: flex;
}

div.more > a {
    color: rgba(24, 24, 25, 0.7);
    font-size: 15px;
    width: 240px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(230, 231, 233);
    border-radius: 70px;
    outline: none;
    text-decoration: none;
    transition: 0.2s;
}

.more a:hover {
    transform: translateY(-2px);
    color: #f85250;
    border-color: #f85250;
}

.section-three {
    background-color: rgb(248, 248, 250);
    padding-top: 120px;
    padding-bottom: 96px;
}

.section-three > div > h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
}

.section-three > div > p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: rgba(24, 24, 25, 0.42);
}

.projects {
    margin: 64px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.projectCard {
    padding: 24px;
    margin: 0 24px 24px 0;
    background-color: #fff;
    display: block;
    position: relative;
    width: 344px;
    height: 164px;
    border-radius: 8px;
    cursor: pointer;
}

.projectCard .iconCard {
    justify-content: start;
}

.projectCard > div > p {
    text-align: left;
    color: rgba(24, 24, 25, 0.42);
    line-height: 22px;
    display: -webkit-box; /* 将对象作为弹性伸缩盒子模型显示 */
    overflow: hidden;
    -webkit-line-clamp: 2; /* 限制在一块元素显示的文本的行数 */
    -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
}

.projectCard div:nth-child(2) {
    min-height: 44px;
    margin: 14px 0;
}

.projectCard .cover {
    display: none;
    top: 0;
    left: 0;
}

.projectCard .cover div {
    width: 50%;
    height: 100%;
}

.projectCard .cover div,
.projectCard .cover span {
    color: rgba(24, 24, 25, 0.698);
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    padding: 2px 0;
}

.vertical-line {
    background-color: rgba(24, 24, 25, 0.24);
    opacity: 0.15;
    max-width: 1px;
    max-height: 164px;
}

.projectCard .img-card {
    display: flex;
    align-items: center;
    position: relative;
}

.projectCard .img-card span {
    margin: 0 32px 0 5px;
    color: rgba(24, 24, 25, 0.42);
}

.projectCard .img-card img {
    width: 22px;
}

.projectCard:nth-child(12) {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCard:nth-child(12) > div > span {
    padding: 0 10px;
}

.projectCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}

.projectCard:hover .cover {
    display: flex;
}

.projectCard:hover .cover div:hover span {
    color: #f44a53;
}

.whoUse > div > h1 {
    margin: 80px 0 19px;
    font-size: 38px;
    font-weight: 600;
    line-height: 47px;
}

.whoUse > div > p {
    margin: 0;
    color: rgba(0, 0, 0, .45);
    line-height: 22px;
}

.whoUse img {
    margin: 48px 0 0 0;
    width: 1400px;
}

.whoUse > div > span {
    margin: 0;
    color: rgba(41, 45, 52, 0.32);
    line-height: 22px;
}

.whoUse div:nth-child(3) {
    margin-top: 5px;
}

.price {
    padding: 120px 24px;
    margin: auto;
}

.price img {
    width: 16px;
}

.price h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    margin: 0 0 64px;
}

.price-list-flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

}

.price-card {
    color: rgba(24, 24, 25, 0.7);
    margin: 10px 40px 0;
    display: flex;
    max-width: 390px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(253, 135, 54);
    border-radius: 16px;
    box-shadow: 0 8px 16px 0 rgba(253, 122, 67, 0.08);
}

.price-card:nth-child(2) {
    border: 1px solid rgb(224, 234, 252);
}

.card-top {
    background-image: linear-gradient(90deg, rgb(253, 106, 79), rgb(252, 158, 35));
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    display: block;
    transform: translateY(-1px);
}

.card-top h1 {
    padding: 24px 0 8px;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.card-top p {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 25px;
}

.price-card:nth-child(1) .card-top {
    color: white;
}

.price-card:nth-child(2) .card-top {
    background-image: linear-gradient(90deg, rgb(224, 234, 252), rgb(207, 222, 243));
}

.card-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.price-content {
    display: flex;
    flex-direction: column;
    margin: 24px 56px 0;
}

.price-button {
    margin: 18px 24px;
}

.card-down div {
    min-height: 40px;
}

.card-down a, .card-down span {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.price-button a {
    background-image: linear-gradient(90deg, rgb(224, 234, 252), rgb(207, 222, 243));
    color: rgba(24, 24, 25, 0.7);
    display: inline-block;
    cursor: pointer;
    border-radius: 1000px;
    height: 40px;
    line-height: 38px;
    padding: 0 34px;
}

.price-button a:hover {
    transition: 0.2s ease;
    transform: translateY(-2px);
}

.wave {
    background-image: url(../img/background/hero-hub-tail.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
}

.footer {
    background: rgb(24, 24, 25);
    line-height: 23px;
    font-size: 16px;
    max-width: 100%;
}

.footer img {
    opacity: 0.85;
}

.footer h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

.footer a {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

.content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 44px;
    margin: 0 auto;
    max-width: 1200px;
}

.foot-flex {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 25%;
    min-width: 300px;
    height: 242px;
}

.foot-flex h3 {
    /*text-align: center;*/
    width: 100%;
    margin: 0 0 24px 0;
}

.foot-flex p, .foot-flex h3 {
    padding-left: 115px;
}

.foot-flex:first-child,
.foot-flex:first-child h3 {
    text-align: left;
    padding: 0;
}

.foot-flex p {
    margin: 0 0 16px;
}

.foot-flex:first-child p {
    width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
}

.foot-flex:first-child p {
    margin: 0;
}

.foot-flex:first-child h3 {
    margin: 0 0 9px;
}

.foot-flex > div > a {

    padding-left: 20px;
}

.line-segment {
    margin: 0 auto;
    max-width: 1224px;
    height: 1px;
    max-height: 1px;
    background-color: rgba(255, 255, 255, 0.32);
}

.down-one {
    margin: 64px 0 24px;
}

.down-two {
    margin: 0;
}

.foot-down {
    margin: 0;
    padding: 0 0 64px;
}

.down-one a {
    margin: 0 0 0 16px;
}

.footer p, .down-two div, .down-one span, .foot-down a {
    color: rgb(153, 153, 153);
}

.down-two a:nth-child(3) {
    margin-left: 32px;
}

h1::selection, h2::selection, h3::selection,
h4::selection, p::selection, a::selection,
li::selection, a img::selection, span::selection,
div::selection, .navigation img::selection,
.icon-img img::selection, .whoUse img::selection {
    background-color: rgba(248, 82, 80);
    color: white;
}

button::selection, img::selection, ul::selection, .price-button a::selection {
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 900px) {
    .price-card {
        margin: 10px auto;
    }
}

@media screen and (max-width: 600px) {
    .linkOl ol {
        transform: translate(40px, -40px);
    }
}

@media screen and (max-width: 400px) {
    .linkOl ol {
        transform: translate(0px, -40px);
    }
}

@media screen and (max-width: 350px) {
    div.tri-angle {
        transform: translate(118px, -116px);
    }

    span.tri-angle {
        transform: translate(129px, -114px) rotate(45deg) scale(0.75);
    }
}