body {
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}
video {
    position: fixed;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


div.card {
    margin-top: 13%;
    height: 300px;
    background-color: rgba(242, 242, 242, 0.5);
}

input.nIcon {
    background-image: url("../img/changepwd.png");
}