body {
    background-image: url("../img/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

div.card {
    margin: 15% 33.3% 0 33.3%;
    min-width: 450px;
    width: 33.3%;
    height: 260px;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.6);
    padding: 20px;
}

div.smallCard {
    margin-top: 5px;
    margin-bottom: 20px;
}

div.smallCard:after {
    content: "";
    display: table;
    clear: both;
}

.leftCol {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.rightCol {
    float: left;
    width: 70%;
    margin-top: 6px;
}

label {
    padding: 12px;
    display: inline-block;
}

label.lStyle {
    font-size: 24px;
    letter-spacing: 1px;
    margin: -10px 40% 10px 40%;
}

input[type=submit] {
    float: right;
    width: 20%;
    color: white;
    margin: 5px 5.5% 8px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    position: center;
    display: inline-block;
}

a {
    margin: 15px 8px 0 8px;
    padding: 0 15px;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: aqua;
}

input[type=text], input[type=password] {
    padding: 12px 20px 12px 40px;
    width: 100%;
    display: inline-block;
    border: none;
    /*border-bottom: 1px solid black;*/
    border-radius: 3px;
    outline: none;
}
input[type=text] {
    background-image: url("../img/account.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
}
input[type=password] {
    background-image: url("../img/password.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: rgba(0, 0, 0, 0);
}

a:visited {
    color: #0000ee;
}

@media screen and (max-width: 1000px) {
    input[type=submit] {
        margin-right: 4.7%;
        width: 75%;
    }

    div.card {
        height: 300px;
    }

    span {
        margin: 0 60px 0 150px;
    }
}